/* LEAFTLET OVERRIDE */
.leaflet-container {
  background: #DDDDDD;
}
.leaflet-control-layers-toggle {
  background-image: url(/js/images/layers.png);
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(/js/images/layers-2x.png);
}


/* FONTELLO OVERRIDE */
 [class^="icon-"]:before, [class*=" icon-"]:before {
  /* fix buttons height, for twitter bootstrap */
  line-height: 0.7em !important;
 
  /* Animation center compensation - margins should be symmetric */
  margin-left: -0.05em !important;
 
  /* you can be more comfortable with increased icons size */
  font-size: 16px !important;
}



/* JQWIDGETS OVERRIDE */
/*
.jqx-dropdownlist-state-normal-bootstrap div {
  padding: 0px 5px 0px 5px;
}
*/

.jqx-dropdownlist-content-bootstrap i, .jqx-listitem-state-normal-bootstrap i,
.jqx-dropdownlist-content-bootstrap > div, .jqx-listitem-state-normal-bootstrap > div {
  margin-left: 5px;
}



/* STYLE */
.markers {
  /*font-size: 14px;*/
  /*width: 20px; height: 20px;*/
  margin: 0; padding: 0;
  /*margin-left: 50px;*/
  border: solid 1px #f00;
}
.fleft {
  float: left;
}
.mlm {
  margin-left: 30px;
}
.lhm {
  line-height: 20px;
}



/* SHAPE */
.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.square {
  width: 20px;
  height: 20px;
}



/* COLOR */
.black { color: #111111; }
.white { color: #f7f7f7; text-shadow: -1px 0 #787878, 0 1px #787878, 1px 0 #787878, 0 -1px #787878; }
.grey { color: #AAAAAA; text-shadow: -1px 0 #2b2b2b, 0 1px #2b2b2b, 1px 0 #2b2b2b, 0 -1px #2b2b2b; }
.red { color: #FF4136; text-shadow: -1px 0 #80201b, 0 1px #80201b, 1px 0 #80201b, 0 -1px #80201b; }
.green { color: #2ECC40; text-shadow: -1px 0 #124d18, 0 1px #124d18, 1px 0 #124d18, 0 -1px #124d18; }
.blue { color: #0074D9; text-shadow: -1px 0 #003059, 0 1px #003059, 1px 0 #003059, 0 -1px #003059; }
.yellow { color: #FFDC00; text-shadow: -1px 0 #806e00, 0 1px #806e00, 1px 0 #806e00, 0 -1px #806e00; }
.purple { color: #7B11D0; text-shadow: -1px 0 #300752, 0 1px #300752, 1px 0 #300752, 0 -1px #300752; }
.orange { color: #FFA500; text-shadow: -1px 0 #805300, 0 1px #805300, 1px 0 #805300, 0 -1px #805300; }



/* BACKGROUND COLOR */
.bgblack { background-color: #111111; }
.bgwhite { background-color: #f7f7f7; border: 1px solid #787878; }
.bggrey { background-color: #AAAAAA; border: 1px solid #2b2b2b; }
.bgred { background-color: #FF4136; border: 1px solid #80201b; }
.bggreen { background-color: #2ECC40; border: 1px solid #124d18; }
.bgblue { background-color: #0074D9; border: 1px solid #003059; }
.bgyellow { background-color: #FFDC00; border: 1px solid #806e00; }
.bgpurple { background-color: #7B11D0; border: 1px solid #300752; }
.bgorange { background-color: #FFA500; border: 1px solid #805300; }
