<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    html, body, #container {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  </style>
  {{template "header.inc" . }}
</head>


<body>
  {{template "navigation.inc" . }}

  <div id="container">
    <div id="map"></div>
  </div>
</body>





  {{template "script.inc" . }}

  <script type="text/javascript">
    {{ range $key, $m := call .markers }}
      var marker = L.marker(xy([{{$m.X}}, {{$m.Y}}]), {icon: L.divIcon({className: '{{$m.Icon}} {{$m.Color}}'})}).addTo(map).bindPopup('<b>{{ $m.Title }}</b><br><em>{{ $m.Desc }}</em><br><a href="#">supprimer</a> | <a href="#">modifier</a>');
    {{ end }}
  </script>

</html>
