<!DOCTYPE html>
<html lang="en">
<head>
  {{template "header.inc" . }}
</head>
<body>
  {{template "navigation.inc" . }}
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <h1>{{.title}}</h1>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover">
          <tr>
          <th>#</th>
          <th>Groupe</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Coordonnnées (X,Y)</th>
          <th>Action</th>
          </tr>
          {{ range $key, $m := call .markers }}
            <tr>
              <td>{{ $key }}</td>
              <td>{{ $m.GetGroupName }} <i class="{{ $m.GetColor }} {{ $m.GetIcon }}"></i></td>
              <td>{{ $m.Title }}</td>
              <td>{{ $m.Desc }}</td>
              <td>{{ $m.X }},{{ $m.Y }}</td>
              <td>
                <form class="form-inline" action="delete" method="post">
                  <fieldset>
                    <input type="hidden" name="key" value="marker{{$key}}">
                    <input type="submit" value="X">
                    <a href="#"><i class="icon-pencil black"></i></a>
                 </fieldset>
                </form>
              </td>
            </tr>
          {{ end }}
        </table>
      </div>
    </div>
    <h1>Groups</h1>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover">
          <tr>
          <th>#</th>
          <th>Icone</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Action</th>
          </tr>
          {{ range $key, $m := call .groups }}
            <tr>
              <td>{{ $key }}</td>
              <td><i class="{{ $m.Color }} {{ $m.Icon }}"></i></td>
              <td>{{ $m.Name }}</td>
              <td>{{ $m.Desc }}</td>
              <td>
                <form class="form-inline" action="deletegroup" method="post">
                  <fieldset>
                    <input type="hidden" name="key" value="group{{$key}}">
                    <input type="submit" value="X">
                    <a href="#"><i class="icon-pencil black"></i></a>
                 </fieldset>
                </form>
              </td>
            </tr>
          {{ end }}
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</body>

  {{template "script.inc" . }}
</html>
